data/empire.db
data/empire-chain.pem
data/empire-priv.key
data/credentials.csv
data/master.log
data/sessions.csv
data/obfuscated_module_source/*.ps1
data/misc/ToObfuscate.ps1
data/misc/Obfuscated.ps1
empire.debug
*.pyc
downloads/*
.vscode/*
.idea/*
*.txt
LastTask*
setup/xar*/
setup/bomutils/
.venv
.DS_Store
venv/
addons/
