*.db
empire/server/data/empire-chain.pem
empire/server/data/empire-priv.key
empire/server/data/credentials.csv
empire/server/data/master.log
empire/server/data/sessions.csv
empire/server/data/obfuscated_module_source/*.ps1
empire/server/data/misc/ToObfuscate.ps1
empire/server/data/misc/Obfuscated.ps1
*.debug
*.pyc
downloads/*
empire/server/downloads/*
.vscode/*
.idea/*
*.txt
LastTask*
xar**
bomutils**
packages-microsoft-prod.deb*
.venv
.DS_Store
venv/
addons/
__pycache__/
workspace.xml
empire/client/generated-stagers
**/bin/Debug/
**/obj/Debug/
**/Covenant/obj/
**/Sharpire/bin/
**/Sharpire/obj/